nav{
    height:2rem ;
    width: 100%;
    display: flex;
    justify-content: center;

.logo{
    width: 90%;
    
    display: flex;
  
    

}

   img{ 
       height: 80%;
       width: 25%;
   }

}
